.loginbox {
    width: 600px;
    height: 400px;
    background-color: #5499C7;
    margin-left: 600px;
    margin-top: 200px;
}

.loginbox h1 {
    font-size: 30px;
    margin-left: 230px;
    padding-top: 10px;
}

.loginbox h2 {
    font-size: 30px;
    text-align: center;
}

.loginbox form input {
    width: 400px;
    height: 40px;
    border: none;
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
    font-size: 16px;
    color: black;
}

.loginbox button {
    margin-top: 120px;
    margin-left: 280px;
}

.bottom {
    position: relative;
    height: 220px;
    border: 3px;
    background-color: #5499C7;
    font-size: 20px;
    color: black;
    display: flex;
    margin-top: 100px;
}

.bottom img {
    margin-top: 30px;
    margin-left: 30px;

}

.font {
    position: absolute;
    margin-left: 400px;
    font-size: 30px;
    margin-top: 45px;
}

.button2 {
    background-color: #07dee6;
    color: black;
    border: 2px solid white;
    font-size: 30px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 100px;
}